.contact{
    background-image: url('../../assets/imgs/porfolio-img-min.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    height: 100vh;
}