@import '../../assets/color.scss';

.home{

    padding: 100px 35% 70px 0;
    background-image: url('../../assets/imgs/portfolio97.png');
    background-size: 700px 700px  ;
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    background-attachment: fixed;
   
   
    &-hero{
        &__title{
            font-size: 64px;
            line-height: 1.0625;
        }

        &__text{
            font-size: 21px;
            margin-bottom: 14px;
        }
        &__me{
            margin-bottom: 24px;
            font-size: 28px;
        }
        &__job{
            margin-bottom: 30px;
        }
       
        &__link{
            color: $color-F0;
            text-decoration: none;
        }
    }
    &-list{
        list-style: none;
        padding-left: 20px;
        &__item{
            &:not(:last-child){
                margin-bottom: 10px;
            }
            &::before{
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                background-image: url('../../assets/imgs/check.svg');
                vertical-align: middle;
                margin-right: 5px;
            }
        }
    }

      
}
@media only screen and (max-width:400px){
    .container{
        max-width: 300px;
    }
    .home{
        padding-top: 100px;
        background-image: url('../../assets/imgs/portfolio97+.png');
        background-position: top 100px right -150px;
        background-size: 400px 400px;
        &-hero{
            &__title{
                font-size: 24px;
            }
            &__text{
                font-size: 20px;
            }
            &__me{
                margin-bottom: 10px;
            }
            &__job{
                margin-bottom: 10px;
            }
        }
    }
}