@import '../../assets/color.scss';

.home{
    padding: 70px 35% 70px 0;
    background-image: url('../../assets/imgs/porfolio-img-min.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    // background-attachment: center ;
    // background-image: url('../../assets/imgs/twitter-logo.png');

   
    &-hero{
        &__title{
            font-size: 64px;
            line-height: 1.0625;
        }

        &__text{
            font-size: 21px;
            margin-bottom: 14px;
        }
        &__me{
            margin-bottom: 24px;
            font-size: 28px;
        }
        &__job{
            margin-bottom: 30px;
        }
        &__work{

        }
        &__life{

        }
        &__link{
            color: $color-F0;
            text-decoration: none;
        }
    }

      
}