@import '../../assets/color.scss';
.header{
    display: block;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
  background-color: #070707;

    .header-nav{
        .close{
            display: none;
         }
    }


}
.nav-list{
    display: flex;
    list-style: none;


    &__item{
        margin-bottom: 10px;
        &:not(:last-child){
            margin-right: 30px;
        }
        &:last-child{
            margin-left: auto;
        }
    }
    &__link{
        text-decoration: none;
        color:$color-secondary;
        font-size: 20px;
        font-weight: 700;
        &-active{
            color:$color-F0;
        }
    }
   
}
.menu{
    display: none;
    &__line{
        width: 35px;
        height: 4px;
        background-color: #fff;
        &:not(:last-child){
            margin-bottom: 5px;
        }
    }
}
@media only screen and (max-width:400px){
    .header{
        position: relative;
        &__content{
            display: none;
            position: absolute;
            width: 100%;
            background-color: #070707;
            z-index: 10;
            padding-bottom: 10px;
        }
       
        .header-nav{
            .close{
                display: block;
                position: absolute;
                top: 0;
                right: 20px;
             }
        }
    }
    .menu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
     
        
      
    }
    .nav-list{
        // display: none;
        flex-direction: column;
        background: transparent;
        position: relative;
        // z-index: 2;
        &__item{
            &:not(:last-child){
                margin-right: 0;
            }
            text-align: center;
            &:last-child{
                margin-left: 0;
            }
        }
    }
    .block{
        display: block;
        // z-index: 2;
    }
    
}