@import '../../assets/color.scss';
.header{
    display: block;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
  background-color: #070707;

    .header-nav{
    }


}
.nav-list{
    display: flex;
    list-style: none;


    &__item{
        margin-bottom: 10px;
        &:not(:last-child){
            margin-right: 30px;
        }
        &:last-child{
            margin-left: auto;
        }
    }
    &__link{
        text-decoration: none;
        color:$color-secondary;
        font-size: 20px;
        font-weight: 700;
        &-active{
            color:$color-F0;
        }
    }
    
}
.menu{
    display: none;
    &__line{
        width: 35px;
        height: 4px;
        background-color: #fff;
        &:not(:last-child){
            margin-bottom: 5px;
        }
    }
}
@media only screen and (max-width:400px){
    .header{
        position: relative;
    }
    .menu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .nav-list{
        flex-direction: column;
        background: transparent;
        &__item{
            &:last-child{
                margin-left: 0;
            }
        }
    }
}