.about{
    padding-top: 100px;
    padding-right: 35%;
    background-image: url('../../assets/imgs/porfolio-img.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top 130px right 0px;
    background-attachment: fixed;
    &::-webkit-scrollbar{
        width: 5px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #999
        ;
    }
    &::-webkit-scrollbar-track{
background-color: transparent;    }

    &-hero{
        &__title{
            font-size: 55px;
            line-height: 1.0625;
            margin-bottom: 10px;
        }   
        &__text{
            font-size: 21px;
            margin-bottom: 14px;
        }
        &__future{
            font-size: 24px;
            margin-bottom: 14px;
        }
    }
    &-list{
        list-style: none;
        &__item{
            padding-left: 30px;
            &:first-child,&:nth-child(5){
                padding-left: 15px;
            }
            
            margin-bottom: 5px;

        }
    }

}
